div{
    text-align: center;
}

img{
    height: 200px;
    width: 200px;
}

form{
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
}

::ng-deep .mat-card{
    border-radius: 30px !important;
}

.background{
    background-color: #cc5500;
}

.search{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.results{
    padding-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
}


