<div class="bg-movie-burnt-50 h-full mb-20">
 
  <div class="bg-white rounded-xl p-5 mx-3 mb-2">
    <form class="flex flex-row" novalidate autocomplete="off" [formGroup]="searchMovieForm" (ngSubmit)="submitMovie()">
      <div>
        <label>
          <mat-form-field appearance="standard">
            <!-- <mat-label>Search by movie title</mat-label> -->
            <input matInput placeholder="Search movie title" formControlName="title">
          </mat-form-field>
          <span *ngIf="searchMovieFormSubmitted && searchMovieForm.get('title')!.errors?.['required']">
            *Please add a title 
          </span>                       
        </label>
      </div>
      <div class="ml-2">
        <button type="submit" mat-fab color="primary">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
        </button>
      </div>
    </form>
  </div>    
   
  <div *ngIf="displayResults">
    <ng-container *ngIf="movies; else loading">
      <div class="flex flex-col justify-center" *ngIf="movies.length === 0">
        <iframe src="https://embed.lottiefiles.com/animation/103661"></iframe>
        <div class="text-white text-center text-xl">
          <p>Sorry, we could not find a movie that matches your search</p>
          <p>Lets try look for something else</p>
        </div>
      </div>
      <!-- //TODO change below once correct mapping in service. -->
      <div *ngIf="movies.length > 0">
        <!-- //TODO use an ng for here to loop through array. then add result card. -->
        <div class="bg-white rounded-xl p-5 mx-3">
          <label class="block">{{movies[0].Title}}<span class="ml-1">({{movies[0].Year}})</span></label>
          
          <label><span class="font-semibold">{{movies[0].Runtime}}</span> | <span class="font-semibold">{{movies[0].Genre}}</span></label>
          <img class="h-150" [src]="movies[0].Poster" alt="">
          <!-- //TODO:place alt image -->
          <p>{{movies[0].Plot}}</p>
          <p>Starring: {{movies[0].Actors}}</p>
          <p>Awards: {{movies[0].Awards}}</p>
          <p>Director: {{movies[0].Director}}</p>
          <p>Language: {{movies[0].Language}}</p>
          <p>Ratings: {{movies[0].Ratings}}</p>
          <p>Released: {{movies[0].Ratings}}</p>
          
          <p>IMDB Rating: {{movies[0].imdbRating}}</p>
          <!-- //TODO:handle cases where info above is not provided. -->
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <movie-loader></movie-loader>                      
    </ng-template>
  </div>
</div>
    
