<div class="bg-movie-burnt-50 h-full w-full mb-20">
 
  <div class="xxs:w-full xs:w-9/12 md:w-8/12 lg:w-6/12 px-4 h-15 mx-auto">
    <form class="flex flex-row justify-between bg-white rounded-xl px-2" novalidate autocomplete="off" [formGroup]="searchMovieForm" (ngSubmit)="submitMovie()">
      <div class="my-auto">
        <label class="text-lg">
          <mat-form-field appearance="standard">
            <!-- <mat-label>Search by movie title</mat-label> -->
            <input matInput placeholder="Search movie title" formControlName="title">
          </mat-form-field>
          <span class="text-md" *ngIf="searchMovieFormSubmitted && searchMovieForm.get('title')!.errors?.['required']">
            *Please add a title 
          </span>                       
        </label>
      </div>
      <div class="ml-2 my-auto">
        <button type="submit" color="primary">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
        </button>
      </div>
    </form>
  </div>    
  <div class="flex w-full flex-col justify-center mt-8" *ngIf="!displayResults">
    <iframe src="https://embed.lottiefiles.com/animation/72235"></iframe>
  </div>
  <div class="pt-5" *ngIf="displayResults">
    <ng-container *ngIf="movies; else loading">
      <div class="flex flex-col justify-center px-4" *ngIf="movies.length === 0">
        <!-- <iframe src="https://embed.lottiefiles.com/animation/103661"></iframe> -->
        <div class="text-white text-center text-xl">
          <p>Sorry, we could not find a movie that matches your search.</p>
          <p>Lets try look for something else!</p>
        </div>
      </div>
      <div *ngIf="movies.length > 0">
        <div *ngFor="let movie of movies">
          <div class="text-white p-5 mx-2">
            <label class="block text-2xl mb-1">{{movie.Title}}<span class="ml-1 text-xl">({{movie.Year}})</span></label>
            <label class="text-md"><span class="font-semibold">{{movie.Runtime}}</span> | <span class="font-semibold">{{movies[0].Genre}}</span></label>
            <div class="grid xxxs:grid-cols-1 md:grid-cols-3 mt-2">
              <div class="col-span-1 mx-auto">
                <img class="rounded-lg" [src]="movie.Poster" alt="No Image Available">
              </div>
              <div class="col-span-2 pt-2 px-2">
                <p>{{movie.Plot}}</p>
                <p class="text-lg font-semibold">Starring: <span class="text-md font-normal">{{movie.Actors}}</span></p>
                <p class="text-lg font-semibold">Awards: <span  class="text-md font-normal">{{movie.Awards}}</span></p>
                <p class="text-lg font-semibold">Director: <span class="text-md font-normal">{{movie.Director}}</span></p>
                <p class="text-lg font-semibold">Language: <span class="text-md font-normal">{{movie.Language}}</span></p>
                <label class="text-lg font-semibold">Ratings:</label>
                <div *ngFor="let rating of movie.Ratings" class="text-lg font-semibold"> 
                  <span class="font-normal">{{rating.Source}}:</span>
                  <span class="font-semibold ml-2">{{rating.Value}}</span>
                </div>
                <span class="text-lg font-normal">IMDB:</span>
                <span class="text-lg font-semibold ml-2">{{movie.imdbRating}}/10</span>
                <p class="text-lg font-semibold mt-1">Released: <span class="text-md font-normal">{{movie.Released}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <movie-loader></movie-loader>                      
    </ng-template>
  </div>
</div>
    
